    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>こんにちは</h2>
              <br/>
              <p>日々の家計簿から、生涯に渡る家計の見直しまで。</p>
              <p>毎日家計簿は皆様の家計の管理や改善をサポートします。</p>
              <br>
              <p>シンプル、多機能、そして完全無料。</p>

              <p>毎日家計簿続けられる家計簿！</p>
              <p>みなさん応援よろしくお願いします！</p>
              <br/>
              </div>
        </div>
    </section>
